	/*首页*/
	*{
		margin: 0;
		padding: 0;
	}
	.l{
		float: left;
	}
	.r{
		float: right;
	}
	.top{
		width: 100%;
		height: 140px;
		transition:0.7s;
		position: relative;
		top: 0;
		z-index: 999;
	}
	.Head{
		width: 100%;
		height: 140px;
		transition: 0.5s;
	}
	.Head-main{
		width: 100%;
		height: 80px;
		background: #fff;
		transition: 0.5s;
	}
	.header{
		width: 94.1%;
		height: 80px;
		margin:0 auto;
		position: relative;
		transition: 0.5s;
	}
	.header-logo{
		width: 114px;
		height: 58px;
	}
	.header-logo img{
		width: 92px;
		height: 32px;
		margin-top: 26px;
		transition:0.5s;
	}
	.header .crea{
		float: left;
		font-size: 16px;
		color: #999;
		font-weight: bold;
		margin-top: 30px;
		transition: 0.5s;
	}
	.search{
		width: 400px;
		height: 40px;
		background: #F8F8F8;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin:auto;
	}
	.choices{
		width: 82px;
		height: 40px;
		float: left;
		border-right: 2px solid #fff;
		background: #F8F8F8;
		position: relative;
	}
	.choices .pro{
		display: block;
		width: 42px;
		height: 19px;
		margin: 10px 0 0 18px;
		font-size: 14px;
		color: #CF680A;
	}
	.choices .pro i{
		display: block;
		width: 14px;
		height: 14px;
		margin-top: 2px;
		float: right;
	}
	.chios{
		width: 82px;
		height: 80px;
		position: absolute;
		top: 40px;
		box-shadow: 0 1px 1px 1px #D5D5D5;
		display: none;
		background: #fff;
	}
	.chios span{
		display: block;
		width: 100%;
		height: 40px;
		border-top: 1px solid #eee;
		font-size: 14px;
		line-height: 40px;
		text-align: center;
	}
	.chios .bold{
		font-weight: bold;
	}
	.search input{
		width: 265px;
		height: 40px;
		border:none;
		outline: none;
		background: #F8F8F8;
		font-size: 14px;
		padding-left: 10px;
	}
	.search img{
		width: 16px;
		height: 16px;
		position: absolute;
		top: 11px;
		right: 12px;
	}
	.header-right{
		width: 332px;
		height: 80px;
	}
	.header-right li{
		list-style: none;
		float: right;
		height: 26px;
		position: relative;
		margin-top: 27px;
		padding-left: 35px;
		line-height: 26px;
		
		transition: 0.5s;
	}
	.header-right li a{
		overflow: hidden;
	}
	.header-right .moy{
    	border-right: 2px solid #dddddd;
    	margin-right: 14px;
    	padding-left:35px;
   		margin-top: 27px;
	}
	.header-right .moy a{
		float: left;
		width: 45px;
		height: 26px;
		text-decoration: none;
		font-size: 14px;
		color: #444;
	}
	.header-right li .one{
		display: block;
		width: 66px;
		height: 26px;
		text-decoration: none;
		font-size: 14px;
		color: #444;
	}
	.header-right li .two{
		float: left;
		width: 35px;
		height: 26px;
		text-decoration: none;
		font-size: 14px;
		color: #444;
	}
	.header-right li .thr{
		display: block;
		width: 45px;
		height: 26px;
		text-decoration: none;
		font-size: 14px;
		color: #444;
	}
	.header-right li:hover{
		font-weight: 700;
	}
	.header-right li img{
		width: 25px;
		height: 25px;
		position: absolute;
		top: 0px;
		left: 2px;
	}
	.download:hover .dpwld{
		display: block;
	}
	.download .dpwld{
		width: 269px;
		height: 269px;
		position: absolute;
		top: 40px;
		left: -165px;
		box-shadow: 0 0 1px 1px #f8f8f8;
		background: #fff;
		display: none;
		z-index: 2;
	}
	.download .dpwld p{
		text-align: center;
		height: 30px;
		line-height: 30px;
		margin-top: 40px;
		font-size: 14px;
		font-weight: 700;
	}
	.download .dpwld .erwma{
		margin:90px 0 0 68px;
		width: 125px;
		height:125px;
	}
	.download .dpwld span{
		display: block;
		width: 100%;
		height: 50px;
		text-align: center;
		margin-top: 160px;
		font-weight: 500;
		font-size: 12px;
	}
	.nav{
		width: 100%;
		height: 60px;
		background: #000;
		transition: 0.5s;
	}
	.nav ul{
		width: 610px;
		height: 60px;
		margin:auto;
		transition: .5s;
	}
	.nav ul li{
		list-style: none;
		float: left;
		padding:0 33px;
	}
	.nav ul li a{
		display: block;
		height: 45px;
		line-height: 60px;
		text-decoration:none;
		color:#f7f7f7;
		font-size: 16px;
		letter-spacing:2px;
	}
	.nav ul li .inde{
		border-bottom: 3px solid #fff;
		font-weight: 700;
	}
	.nav ul li a:hover{
		border-bottom: 3px solid #fff;
		font-weight: 700;
	}
	.banner{
		width: 100%;
		height: 420px;
		position: relative;
	}
	.banner img{
		width: 100%;
		height: 100%;
		position: absolute;
	}
	.banner .cricle{
		position: absolute;
	    right: 117px;
	    bottom: 20px;
	    padding: 4px 20px;
	    background: rgba(0,0,0,0.1);
	    border-radius: 30px;
	    box-sizing: border-box;
	    z-index: 2;
	}
	.banner .cricle .on{
		display: inline-block;
		margin-left: 22px;
	    width: 12px;
	    height: 12px;
	    border-radius: 50%;
	    background: #FFF;
	}
	.banner .cricle span:nth-child(1){
		margin: 0;
	}
	.banner .cricle .active{
		background: #cf680a;
	}
	.intro{
		width: 1180px;
		height: 488px;
		margin:86px auto 100px;
	}
	.intro-top{
		width: 100%;
		height: 47px;
		letter-spacing: 2px;
		margin-bottom: 40px;
		font-size: 18px;
		border-bottom: 1px solid #ddd;
	}
	.intro-top h2{
		width: 263px;
		line-height: 47px;
		padding-right: 40px;
		float: left;
	}
	.intro-top span{
		font-size: 16px;
		margin-left: 2px;
		line-height: 47px;
		color: #003569;
	}
	.intro-top ul{
		float: right;
	}
	.intro-top ul li{
		float: left;
		list-style: none;
		width: 100px;
		height: 43px;
		text-align: center;
		line-height: 43px;
		margin-top: 5px;
		margin-left: 20px;
		border: 1px solid #fff;
	}
	.intro-top ul .youhua{
		border: 1px solid #ddd;
		background: #fff;
		border-bottom: 1px solid #fff;
	}
	.intro-top ul li a{
		text-decoration: none;
		color: #000;
	}
	.intro-top ul li:hover{
		border: 1px solid #ddd;
		background: #fff;
		border-bottom: 1px solid #fff;
	}
	.intro-bottom{
		width: 100%;
		height: 400px;
		display: flex;
		justify-content: space-between;
	}
	.intro-bottom .intro-bottom-box{
		width: 280px;
		height: 400px;
		box-shadow: 0 0 1px 1px #ddd;
	}
	.intro-bottom .intro-bottom-box img{
		width: 280px;
		height: 280px;
		transition: 0.8s;
	}
	.intro-bottom .intro-bottom-box .img{
		width: 280px;
		height: 280px;
		overflow: hidden;
	}
	.intro-bottom .intro-bottom-box .img:hover img{
		transform: scale(1.1);

	}
	.intro-bottom .intro-bottom-box .price{
		width: 240px;
		height: 72px;
		margin:20px auto;
		font-size:12px;
	}
	.intro-bottom .intro-bottom-box .price span{
		color:#666;
	}
	.intro-bottom .intro-bottom-box .price p{
		font-weight: 700;
	}
	.newsh{
		width: 1180px;
		height: 355px;
		margin: 50px auto 120px;
	}
	.newsh-top{
		width: 100%;
		height: 35px;
		margin-bottom: 40px;
		line-height: 35px;
	}
	.newsh-top h2{
		width: 267px;
		height: 35px;
		font-size: 26px;
		float: left;
		letter-spacing: 3px;
	}
	.newsh-top span{
		padding-left: 20px;
		position: relative;
	}
	.newsh-top span img{
		position: absolute;
		top: 0;
		left: 0;
	}
	.newsh-top span a{
		text-decoration: none;
		color:#003569; 
	}
	.newsh-bootom{
		width: 100%;
		height: 280px;
	}
	.newsh-bootom .News{
		width: 280px;
		height: 280px;
		float: left;
		position: relative;
		margin-right: 20px;
	}
	.newsh-bootom .News .img,.newsh-bootom .News .img img{
		width: 280px;
		height: 280px;
		overflow: hidden;
		transition: 0.6s;
		position: absolute;
	}
	.newsh-bootom .News .img:hover img{
		transform: scale(1.05);
	}
	.newsh-bootom .News .img .men{
		width: 280px;
		height: 280px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.newsh-bootom .News .img:hover .men{
		background: rgba(0,0,0,.5);
	}
	.newsh-bootom .News span{
		display: block;
		width: 100%;
	}
	.newsh-bootom .News .men .text{
		width: 144px;
		height: 90px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		opacity: 0;
	}
	.newsh-bootom .News .men:hover .text{
		opacity: 1;
	}
	.newsh-bootom .News .men .text h3,.newsh-bootom .News .men .text h4,.newsh-bootom .News .men .text p,.newsh-bootom .News .men .text span{
		text-align: center;
		font-size: 12px;
		color: #fff;
	}
	.newsh-bootom .News .price{
		font-weight: 700;
	}
	.pic{
		width: 130px;
		height: 130px;
		position: relative;
		margin-right: 20px;
	}
	.pic .img .mec{
		width: 130px;
		height: 130px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;	
	}
	.pic .img{
		width: 130px;
		height: 130px;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
	}
	.pic .img img{
		width: 130px;
		height: 130px;
		transition: 0.6s;
	}
	.pic .img:hover .mec{
		background: rgba(0,0,0,.5);
	}
	.pic .img:hover img{
		transform: scale(1.05);
	}
	.pic .img .mec .text{
		width: 120px;
		height: 72px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		opacity: 0;
	}
	.pic .img .mec:hover .text{
		opacity: 1;
	}
	.pic .img .mec .text span{
		display: block;
		width: 100%;
	}
	.pic .img .mec .text h3,.pic .img .mec .text h4,.pic .img .mec .text span,.pic .img .mec .text p{
		text-align: center;
		font-size: 11px;
		color: #fff;
	}
	.pic .img .mec .text .price{
		font-weight: 700;
	}
	.out{
		margin-right: 0;
	}
	.dow{
		margin-top: 20px;
	}
	.word{
		width: 100%;
		height: 300px;
		background: #444;
		overflow: hidden;
		position: relative;
	}
	.word span{
		display: block;
		width: 1180px;
		margin: auto;
		margin-top: 40px;
		font-size: 30px;
		margin-bottom: 48px;
		color: white;
		letter-spacing: 3px;
	}
	.word .seacr{
		width: 1180px;
		height: 44px;
		margin: auto;
	}
	.word .seacr select{
		width: 200px;
		height: 44px;
		border-radius: 5px;
		padding:0 20px;
		font-size: 14px;
		margin-right: 10px;
		outline: none;
		-webkit-appearance: none;
		color: #444;
		background:#fff url(https://cdn.ywart.com/content/image/select_bg.png) no-repeat right;	
	}
	.word p{
		width: 1180px;
		margin:55px auto;
		color: #fff;
		font-size: 14px;
	}
	.word p a{
		text-decoration: none;
		color: #fff;
		display: inline-block;
		width: 100px;
		text-align: center;
	}
	.word .wordright{
		width: 27%;
		height: 300px;
		background: #000;
		position: absolute;
		top: 0;
		right: 0;
		overflow: hidden;
	}
	.word .wordright .text{
		width: 100px;
		height: 100px;
		text-align: center;
		line-height: 50px;
		color: #fff;
		font-size: 40px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin:auto;
		transition: .6s;
	}
	.word .wordright .mev{
		width: 100%;
		height: 100%;
		background: rgb(207,104,10);
		position: absolute;
		top: 0;
		left: -100%;
		transition: 0.6s;
	}
	.word .wordright:hover .mev{
		transform: translateX(100%);
	}
	.word .wordright:hover .text{
		transform: translateX(20px);
	}
	.symposium{
		width: 100%;
		height: 100px;
		text-align: center;
	}
	.symposium-lft{
		width: 200px;
		height: 100px;
		position: relative;
	}
	.symposium-lft:hover{
		background: rgb(230,230,230);
	}
	.symposium-lft span{
		display: block;
		width: 20px;
		height: 20px;
		border-top: 1px solid #000;
		border-left: 1px solid #000;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		transform: rotateZ(-45deg);
	}
	.symposium-mid{
		width: 224px;
		height: 100px;
		display: inline-block;
	}
	.symposium-mid h2{
		font-size: 26px;
		width: 224px;
		letter-spacing: 2.5px;
		line-height: 100px;
	}
	.symposium-rig{
		width: 200px;
		height: 100px;
		position: relative;
	}
	.symposium-rig span{
		display: block;
		width: 20px;
		height: 20px;
		border-bottom: 1px solid #000;
		border-right: 1px solid #000;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		transform: rotateZ(-45deg);
	}
	.symposium-rig:hover{
		background: rgb(230,230,230);
	}
	.roat{
		width: 100%;
		height: 380px;
		background: skyblue;
		display: flex;
		justify-content: space-between;
		overflow: hidden;
	}
	.roat-box{
		width: 320px;
		height: 380px;
		border: 1px solid #000;
		position: relative;
		overflow: hidden;
		margin-left: 30px;
	}
	.roat-box img{
		width: 480px;
		height: 380px;
		position: absolute;
		top: 0;
		left: -25%;
	}
	.art{
		width: 1180px;
		height: 406px;
		margin: auto;
		margin-top: 100px;
	}
	.art-top{
		width: 100%;
		height: 46px;
		margin-bottom: 40px;
	}
	.art-top h2{
		width: 241px;
		height: 46px;
		line-height: 46px;
		font-size: 26px;
		font-weight: 600;
		letter-spacing: 3px;
		padding-right: 40px;
		float: left;
	}
	.art-top a{
		display: inline-block;
		height: 40px;
		width: 180px;
		border: 1px solid #CF680A;
		line-height: 40px;
		text-align: center;
		text-decoration: none;
		margin-top: 5px;
		border-radius: 20px;
		color: #CF680A;
		font-size: 18px;
	}
	.art-top a:hover{
		background: #CF680A;
		color: #fff;
	}
	.art-bottom{
		width: 100%;
		height: 320px;
	}
	.art-bottom-young{
		width: 450px;
		height: 320px;
		margin-right: 25px;
		position: relative;
		overflow: hidden;
	}
	.art-bottom-young .mex{
		width: 450px;
		height: 320px;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(50,50,50,.3);
		z-index: 1;
		padding-left: 20px;
		color: #fff;
	}
	.art-bottom-young .mex p{
		font-size: 16px;
		position: absolute;
		bottom: 120px;
	}
	.art-bottom-young .mex span{
		font-size: 12px;
		position: absolute;
		bottom: 65px;
		line-height: 20px;
	}
	.art-bottom-young img{
		width: 450px;
		height: 320px;
		transition: 0.6s;
	}
	.art-bottom-young:hover img{
		transform: scale(1.05);
	}
	.moreArter{
		width: 679px;
		height: 320px;
		padding-left: 25px;
		border-left: 1px solid #666;
	}
	.moreArter-top{
		width: 100%;
		height: 20px;
	}
	.moreArter-bottom{
		width: 210px;
		height: 280px;
		margin-top: 20px;
		position: relative;
	}
	.let{
		margin-left: 24px;
	}
	.moreArter-bottom .imgr{
		width: 180px;
		height: 180px;
		position: absolute;
		bottom: 0;
		left: 0;
		}
	.moreArter-bottom .img{
		width: 180px;
		height: 180px;
		position: absolute;
	}
	.moreArter-bottom .img img{
		width: 180px;
		height: 180px;
		position: absolute;
	}
	.moreArter-bottom .img .img1{
		top: 10px;
		left: 10px;
		box-shadow: -2px 2px 10px 1px #666;
		z-index: 3;
		transition: 0.6s;
	}
	.moreArter-bottom .img .img2{
		top: 0;
		left: 0;
		z-index: 2;
		transition: 0.6s;
	}
	.moreArter-bottom .img .img3{
		top: 0;
		left: 0;
		z-index: 1;
	}
	.moreArter-bottom .img:hover .img1{
		transform: translate(20px,20px);
	}
	.moreArter-bottom .img:hover .img2{
		transform: translate(15px,15px);
		box-shadow: -2px 2px 10px 1px #666;
	}
	.moreArter-bottom .imgr img{
		width: 180px;
		height: 180px;
		position: absolute;
	}
	.moreArter-bottom .imgr .img1{
		top: 10px;
		left: 10px;
		box-shadow: -2px 2px 10px 1px #666;
		z-index: 3;
		transition: 0.6s;
	}
	.moreArter-bottom .imgr .img2{
		top: 0;
		left: 0;
		z-index: 2;
		transition: 0.6s;
	}
	.moreArter-bottom .imgr .img3{
		top: 0;
		left: 0;
		z-index: 1;
	}
	.moreArter-bottom .imgr:hover .img1{
		transform: translate(20px,20px);
	}
	.moreArter-bottom .imgr:hover .img2{
		transform: translate(15px,15px);
		box-shadow: -2px 2px 10px 1px #666;
	}
	.moreArter-bottom .text{
		width: 80px;
		height: 35px;
		position: absolute;
		left: 50px;
		bottom: -18px;
		border-top: 1px solid #000;
		padding: 20px 0;
	}
	.moreArter-bottom .text1{
		width: 80px;
		height: 35px;
		position: absolute;
		left: 50px;
		top: 0px;
		padding:20px 0; 
		border-bottom: 1px solid #000;
	}
	.moreArter-bottom .text p,.moreArter-bottom .text1 p{
		text-align: center;
		font-size: 15px;
	}
	.moreArter-bottom .text .shul,.moreArter-bottom .text1 .shul{
		font-size: 12px;
	}
	.View{
		width: 1180px;
		height: 570px;
		margin: auto;
		margin-top: 100px;
	}
	.View-top{
		width: 100%;
		height: 46px;
		margin-bottom: 46px;
	}
	.View-top h3{
		float: left;
		height: 46px;
		line-height: 46px;
		font-size: 26px;
		font-weight: 600;
		letter-spacing: 3px;
		padding-right: 40px;
	}
	.View-top span{
		font-size: 16px;
		margin-left: 2px;
		line-height: 46px;
		color: #003569;
	}
	.View-bottom1{
		width: 580px;
		height: 494px;
	}
	.View-bottom1 .img{
		width: 580px;
		height: 300px;
		overflow: hidden;
	}
	.View-bottom1 .img img{
		width: 580px;
		height: 300px;
		transition: 0.6s;
	}
	.View-bottom1 .img:hover img{
		transform: scale(1.05);
	}
	.View-bottom1 h3{
		margin: 20px auto;
		text-align: center;
		font-size: 24px;
		font-weight: 500;
	}
	 .line{
	 	height: 1px;
	 	margin: 20px auto;
	 	width: 80px;
	 	background: #000;
	 }
	 .View-bottom1 p{
	 	font-size: 14px;
	 	padding: 0 15px;
	 	line-height: 24px;
	 }
	.View-bottom2{
		width: 580px;
		height: 494px;
	}
	.View-bottom2 .img{
		width: 580px;
		height: 300px;
		overflow: hidden;
	}
	.View-bottom2 img{
		width: 580px;
		height: 300px;
		transition: 0.6s;
	}
	.View-bottom2 .img:hover img{
		transform: scale(1.05);
	}
	.View-bottom2 h3{
		margin: 20px auto;
		text-align: center;
		font-size: 24px;
		font-weight: 500;
	}
	 .View-bottom2 p{
	 	font-size: 14px;
	 	padding: 0 15px;
	 	line-height: 24px;
	 }
	 .whychose{
	 	width: 1180px;
	 	height: 900px;
	 	margin: 120px auto;
	 }
	 .whychose h2{
		text-align: center;
		font-size: 26px;
		letter-spacing: 1px;
		margin-bottom: 60px;
	 }
	 .whychose li{
	 	float: left;
	 	width: 33.33%;
	 	list-style: none;
	 	height: 346px;
	 }
	 .whychose li .whychs1{
	 	width: 280px;
	 	height: 346px;
	 	border-bottom: 2px solid #eee;
	 	margin: 0 auto;
	 }
	 .whychose li .whychs1 .img{
	 	width: 140px;
	 	height: 140px;
	 	margin: 0 auto;
	 }
	 .whychose li .whychs1 .img img{
	 	width: 140px;
	 	height: 140px;

	 }
	 .whychose li .whychs1 h2{
	 	font-size: 30px;
	 	font-weight: 500;
	 	margin: 30px 0;
	 }
	 .whychose li .whychs1 p{
	 	text-align: center;
	 	line-height: 24px;
	 }
	 .icon-dian{
	 	margin: 0 25px;
	 	vertical-align: middle;
	 	font-weight: 600;
	 	transition: 0.4s;
	 }
	 .whychose li:hover .icon-dian{
	 	margin: 0 10px;
	 	font-size: 20px;
	 }
	 .whychose .pic{
	 	float: left;
	 	width: 100%;
	 	height: 400px;
	 	margin-top: 60px;
	 	position: relative;
	 }
	 .whychose .pic .pic-l{
	 	width: 50%;
	 	height: 400px;
	 }
	 .whychose .pic img{
	 	width: 100%;
	 	height: 400px;
	 }
	 .whychose .pic-right{
	 	width: 50%;
	 	height: 400px;
	 	background: #000;
	 	color: #fff;
	 	box-sizing: border-box;
	 	padding:0 108px 0 60px;
	 }
	 .whychose .pic .line{
	 	width: 80px;
	 	height: 0;
	 	border-bottom: 1px solid #fff;
	 	margin:30px 0;
	 }
	 .whychose .pic .pic-right .text1{
	 	font-size: 20px;
	 	margin-top: 55px;
	 	letter-spacing: 2px;
	 }
	 .whychose .pic .pic-right .text2{
	 	font-size: 14px;
	 	line-height: 30px;
	 }
	 .whychose .pic .pic-right a{
	 	display: block;
	 	text-decoration:none;
	 	font-size: 14px;
	 	color: #fff;
	 	margin-top: 30px;
	 }
	 .whychose .pic .yuan{
	 	width: 80px;
	 	height: 80px;
	 	background: #000;
	 	border-radius: 50%;
	 	position: absolute;
	 	top: 0;
	 	left: 0;
	 	right: 0;
	 	bottom: 0;
	 	margin:auto;
	 }
	 .whychose .pic .yuan img{
	 	width: 40px;
	 	height: 40px;
	 	margin:20px;
	 }
	 .cooperate{
	 	width: 1180px;
	 	height: 160px;
	 	margin: 0 auto;
	 	margin-bottom:122px
	 }
	 .cooperate h2{
	 	font-size: 26px;
	 	text-align: center;
	 }
	 .cooperate .picm{
	 	width: 100%;
	 	height: 40px;
	 	padding-left:40px;
	 	margin-top: 60px;
	 }
	 .cooperate .picm img{
	 	height: 35px;
	 	margin-right: 50px;
	 }
	 .footer{
	 	width: 100%;
		background: #34353d;
		padding: 70px 0 10px;
	 }
	.footer .footer-main{
	 	width: 1180px;
		margin: 0 auto;
	 }
	.footer .footer-top{
	 	width: 100%;
	 	height: 70px;
	 	margin-bottom: 70px;
	 }
	.footer .footer-top-left{
	 	width: 120px;
	 	height: 70px;	
	 }
	.footer .footer-top-left img{
	 	width: 120px;
	 	height: 70px;
	 }
	.footer .footer-top-right{
	 	margin-left: 40px;
	 }
	.footer .footer-top-right p{
	 	font-size: 18px;
	 	color: #fff;
	 }
	.footer .footer-top-right p a{
	 	text-decoration: none;
	 }
	.footer .footer-top-right p i{
	 	font-size: 28px;
	 	color: #fff;
	 	position: relative;
	 }
	.footer .footer-top-right .p{
	 	margin-top: 10px;
	 	font-size: 16px;
	 }
	.footer .footer-top-right p .icon-weibo{
	 	font-size: 24px;
	 	margin-right: 18px;
	 }
	.footer .footer-top-right p .icon-dianhua{
		font-size: 20px;
		margin-right: 10px;
	}
	.footer .footer-top-right p .icon-changyonglogo28 .erwei{
	 	width: 120px;
	 	height: 120px;
	 	position: absolute;
	 	top: -25px;
	 	left: -210px;
	 	display: none;
	 }
	.footer .footer-top-right p i .erwei img{
	 	width: 120px;
	 	height: 120px;
	 }
	.footer .footer-top-right p .icon-changyonglogo28:hover .erwei{
		display: block;
	 }
	.footer .footer-middle{
	 	width: 100%;
	 }
	.footer .footer-middle li strong{
		display: block;
	 	font-size: 18px;
	 	padding-bottom: 22px;
	 }
	.footer .footer-middle li{
	 	float: left;
	 	margin-right: 130px;
	 	list-style: none;
		color: #fff;
	 }
	.footer .footer-middle li a{
	 	display: block;
	 	text-decoration:none; 
	 	color: #fff;
	 	font-size: 14px;
	 	line-height: 30px;
	 }
	 .footer-middle .app-download{
	 	float: right;
	 	width: 147px;
	 	position: relative;
	 }
	 .footer-middle .app-download .apple{
		width: 147px;
		height: 40px;
		margin-bottom: 20px;
	 }
	 .footer-middle .app-download .apple:hover .qrcoding{
	 	display: block;
	 }
	  .footer-middle .app-download .apple:hover p{
	 	display: block;
	 }
	 .footer-middle .app-download .android{
		width: 147px;
		height: 40px;
	 }
	 .footer-middle .app-download .android:hover .qrcoding{
	 	display: block;
	 }
	  .footer-middle .app-download .android:hover p{
	 	display: block;
	 }
	 .footer-middle .app-download .apple img{
	 	width: 147px;
		height: 40px;
	 }
	 .footer-middle .app-download .android img{
	 	width: 147px;
		height: 40px;
	 }
	.footer-middle .app-download .apple .qrcoding{
		width: 120px;
		height: 120px;
		position: absolute;
		top: -170px;
		left: 10px;
		display: none;
	}
	.footer-middle .app-download .android .qrcoding{
		width: 120px;
		height: 120px;
		position: absolute;
		top: -170px;
		left: 10px;
		display: none;
	}
	.footer-middle .app-download .apple p{
		font-size: 12px;
		color: rgba(255,255,255,.3);
		position: absolute;
		top: -35px;
		left: 24px;
		display: none;
	}
	.footer-middle .app-download .android p{
		font-size: 12px;
		color: rgba(255,255,255,.3);
		position: absolute;
		top: -35px;
		left: 24px;
		display: none;
	}
	.clearfix:after{
		content: "";
		height: 0;
		line-height: 0;
		display: block;
		visibility: hidden;
		clear: both;
	}
	.Copyright{
		font-size: 12px;
		margin-top: 90px;
		color: #999;
	}
	.thrid{
		font-size: 12px;
		color: #999;
		padding:10px 0;
		margin: 10px auto 0;
		border-top: 1px solid #999;
		position: relative;
	}
	.thrid a{
		color: #999;
		text-decoration: none;
		margin-left: 20px;
	}
	.thrid .icon-htmal5icon03{
		font-size: 12px;
		position: absolute;
		top: 12px;
		right: 0;
	}
	.shopposition{
		width: 41px;
		height: 167px;
		background: #000;
		position: fixed;
		bottom: 20px;
		right: 0;
	}
	.shop-image{
		display: block;
		width: 100%;
		height: auto;
		background:url("https://static.meiqia.com/dist/images/icon-mq.png?v=s05dw1rycgr") !important;
	}
	